html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

:root {
  --primary: #007bff;
  --secondary: #6c757d;
  --sucess: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --light: #f8f9fa;
  --dark: #343a40;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  padding: 0 0.5rem;
}

html {
  --background: white;
  --grey-200: #222222;
  --grey-400: #444444;
  --grey-600: #333333;
  --grey-900: #111111;
}

html.dark {
  --background: rgb(0, 0, 0);
  --grey-200: #eaeaea;
  --grey-400: #acacac;
  --grey-600: #ffffff;
  --grey-900: #fafafa;
}

body {
  color: var(--grey-600);
  background: var(--background);
}
