---
import { Image } from "astro:assets";

import Features from "../components/Features.astro";
import Hero from "../components/Hero.astro";
import Pricing from "../components/Pricing.astro";
import Layout from "../layout/Layout.astro";
---

<Layout>
  <main>
    <Hero />
    <Features />
    <Pricing />
  </main>
</Layout>

<script>
  console.log("Hello world!");
</script>
